<?xml version="1.0"?>
<launch>
	<arg name="ns"/> 
	<arg name="map_path"/> 

	<!-- Load map -->
    <node ns="$(arg ns)" pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_path)/map.yaml">
    </node>

	<!-- Launch localization (dummy) -->
	<include file="$(find rl_bringup)/launch/sub_launch/dummy_localization.launch">
		<arg name="ns" value="$(arg ns)"/>
	</include>
    	
	<!-- Launch move_base node -->
	<include file="$(find rl_bringup)/launch/sub_launch/move_base.launch">
		<arg name="ns" value="$(arg ns)"/>
	</include>
</launch>
